$primaryColor: #050510;
$secondaryColor: #c3c3c6;
$tetriaryColor: #c3c3c6;
$activePrimaryColor: #6534ff;
$errorColor: #f44336;
$bgSecondary: #f7f7f8;
$whiteColor: #fff;
$blackColor: #000;

$mainFont: 'Inter', sans-serif;

// Blocks
@import 'reset';
